* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    margin: 0;
}

/* styles for admin-auth */

.form-wrapper {
    background-color: #293449;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.form-title {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

input {
    letter-spacing: 1px;
    font-family: inherit;
    border: none;
    padding: 10px 15px;
    margin-bottom: 25px;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 12px;
    outline: none;
}

input::placeholder {
    color: #fff;
}

.auth-form button {
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 1px;
    width: 218px;
    height: 40px;
    background-color: #ca2c37;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

input:focus {
    border-bottom-color: #ca2c37;
}

.auth-form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

.form-container {
    max-width: 400px;
    margin: 13% auto;
}

.notif {
    padding: 15px 25px;
    margin-top: 10px;
    background-color: #ca2c37;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    animation: 0.3s showNotif;
    text-align: center;
}

@keyframes showNotif {
    0%, 100% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }
}